<div class="bg-white p-6 rounded shadow">
  <h1 class="text-2xl font-bold mb-4">User List</h1>
  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-200">
        <th class="border p-2 text-left">ID</th>
        <th class="border p-2 text-left">Username</th>
        <th class="border p-2 text-left">Role ID</th>
        <th class="border p-2 text-left">Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(u => { %>
        <tr>
          <td class="border p-2"><%= u.id %></td>
          <td class="border p-2"><%= u.username %></td>
          <td class="border p-2"><%= u.role_id %></td>
          <td class="border p-2">
            <a href="/users/edit/<%= u.id %>" class="text-blue-500 mr-2">Edit</a>
            
            <a href="/users/delete/<%= u.id %>" 
               class="text-red-500" 
               onclick="return confirm('Yakin ingin menghapus user <%= u.username %>?')">
               Delete
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>